@import "colors.scss";

$active-color: $green1;
$inactive-color: $green0;

* {
    all: unset;

    font-family: Lexend, Symbols Nerd Font Mono;
    font-size: 14px;
    font-weight: 500;
    color: $fg;
}

text {
    padding: 8px;
    background-color: $bg1;
    border-radius: 4px;
    font-size: 18px;
    placeholder {
        color: $fg4;
    }
}

.dialog {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid $green1;
    background-color: $bg0;

    .title {
        font-size: 24px;
        font-weight: bold;
    }

    button {
        margin: 4px;
        background-color: $bg1;
        border-radius: 8px;

        label {
            font-size: 28px;
        }
    }

    button:hover {
        margin: 0px;
        background-color: $bg2;

        label {
            font-size: 32px;
        }
    }

    .yes > label {
        color: $green1;
    }

    .no > label {
        color: $red1;
    }
}
