@import "colors.scss";

* {
    all: unset;

    font-family: Lexend, Symbols Nerd Font Mono;
    font-size: 14px;
    font-weight: 500;
    color: $fg;
}

/*-----------Bar-----------*/
.bar {
    background-color: transparent;
}

.widget {
    padding: 1px 6px 0px 6px;

    background-color: $bg0;
    border-radius: 8px;
}

.distro-icon {
    padding: 1px 7px 0px 7px;
}

.workspaces {
    padding: 0;
}

.workspace {
    padding: 2px 8px 0 8px;
    background-color: $bg;
    border-radius: 8px;
}

.workspace.active {
    background-color: $bg1;
    border-bottom: 2px solid $aqua0;
}

.active-window {
    border-bottom: 2px solid $green0;
}

.network {
    border-bottom: 2px solid $purple0;
}

.battery {
    border-bottom: 2px solid $blue0;
}

.cpu {
    border-bottom: 2px solid $red0;
}

.memory {
    border-bottom: 2px solid $orange0;
}

.volume {
    border-bottom: 2px solid $green0;
}

.layout {
    border-bottom: 2px solid $yellow0;
}

.powermenu-btn {
    padding: 1px 8px 0px 8px;

    label {
        color: $red0;
    }
}

/*----------- Powermenu -----------*/
.powermenu {
    border-radius: 8px;
    border: 1px solid $green1;
    padding: 8px;
    background-color: $bg0;

    button {
        margin: 4px;
        background-color: $bg1;
        border-radius: 8px;

        label {
            font-size: 48px;
        }
    }

    button:hover {
        margin: 0px;
        background-color: $bg2;

        label {
            font-size: 52px;
        }
    }

    .poweroff>label {
        color: $red1;
    }

    .restart>label {
        color: $green1;
    }

    .suspend>label {
        color: $blue1;
    }

    .logout>label {
        color: $aqua1;
    }
}

/*----------- Dialog -----------*/
.dialog {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid $green1;
    background-color: $bg0;

    .title {
        font-size: 24px;
        font-weight: bold;
    }

    button {
        margin: 4px;
        background-color: $bg1;
        border-radius: 8px;

        label {
            font-size: 28px;
        }
    }

    button:hover {
        margin: 0px;
        background-color: $bg2;

        label {
            font-size: 32px;
        }
    }

    .yes>label {
        color: $green1;
    }

    .no>label {
        color: $red1;
    }
}
