@import "colors.scss";

$active-color: $green1;
$inactive-color: $green0;

* {
    all: unset;

    font-family: Lexend, Symbols Nerd Font Mono;
    font-size: 14px;
    font-weight: 500;
    color: $fg;
}

button:not(.no-default-style) {
    padding: 4px;
    border-radius: 4px;
    transition: background-color ease 150ms;
    background-color: $bg2;
    min-height: 1em;
    &:hover {
        background-color: $bg4;
    }
    &:active {
        background-color: $bg3;
    }
    &:disabled {
        background-color: $bg3;
    }
    &.toggled {
        background-color: $green0;
        &:hover {
            background-color: $green1;
        }
        &:disabled {
            background-color: $green1;
        }
    }
}

scale {
    slider {
        transition-property: background-color, outline;
        transition: ease 150ms;

        background-color: $bg;
        outline: 2px solid $fg;
        border-radius: 100%;
        min-width: 12px;
        min-height: 12px;
        margin: -6px;
    }

    trough {
        transition: background-color ease 150ms;

        background-color: $bg2;
        border-radius: 4px;
        min-height: 2px;
    }

    highlight {
        transition: background-color ease 150ms;

        background-color: $inactive-color;
        border-radius: 4px;
    }

    &:hover {
        slider {
            background-color: $bg2;
        }

        trough {
            background-color: $bg4;
        }

        highlight {
            background-color: $active-color;
        }
    }

    &:active {
        slider {
            background-color: $fg1;
            outline: none;
        }
    }

    &:disabled {
        slider {
            outline: none;
        }
    }
}

.sidebar .content {
    margin: 10px;
    box-shadow: 0px 0px 8px rgba(black, 0.6);

    padding: 8px;
    margin-right: 10px;
    background-color: $bg;
    border-radius: 4px;
}

.grid {
    padding: 4px;
    background-color: $bg1;
    border-radius: 4px;
}

.group-box {
    padding: 4px;
    background-color: $bg1;
    border-radius: 4px;
}

.chevron-button {
    border-radius: 4px;
    transition: background-color ease 150ms;
    background-color: $bg2;

    .button {
        border-radius: 4px 0px 0px 4px;
    }

    .chevron {
        padding: 0px 4px 0px 4px;
        border-radius: 0px 4px 4px 0px;
    }
}

.wifi-container {
    .ap-list {
        .ap {
            .icon, .ssid { font-size: 16px };
            .ssid {
                font-weight: bold;
            }
        }
    }
}
